body {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 100%;
    padding: 10px;
    min-height: 2em;
    font-size: 1.5em;
    border: none;
    outline: none;
}

.error-message {
    padding: 5px;
    min-height: 1.5em;
    font-size: 0.8em;
    border: none;
    outline: none;
    background: #FAFAFA;
    color: red;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.button {
    padding: 15px;
    font-size: 1.2em;
    border: 1px solid #CCC;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
}

.button:hover {
    background-color: #CCC;
}

.operator {
    background-color: 	#F9812A;
    color: #FFF
}

.function {
    background-color: #F5F5F5;
}

